/Lista_Quatro/Lista-Cinco-e-Seis/nbproject/private/
/Lista_Quatro/Lista-Cinco-e-Seis/build/
/Lista_Cinco_e_Seis/Lista-Cinco-e-Seis/nbproject/private/
/Lista_Cinco_e_Seis/Lista-Cinco-e-Seis/build/
/Lista-Jva-Basico/build/
/TryCatch/nbproject/private/
/TryCatch/build/
/AlunoClasses/nbproject/private/
/EscolaClasse/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
